{% extends 'base.html' %}
{% block title %}
Booking
{% endblock %}
{% block content %}
<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Details</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" method="post">
                            {{ form.hidden_tag() }}
                            <div class="col-md-12">
                               {{ form.From.label() }}
                               {{ form.From(class='form-control', placeholder="From") }}
                               <div class="valid-feedback">From field is valid!</div>
                               <div class="invalid-feedback">From field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                {{ form.To.label() }}
                                {{ form.To(class='form-control', placeholder="To") }}
                                <div class="valid-feedback">To field is valid!</div>
                                <div class="invalid-feedback">To field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                {{ form.Date.label() }}
                                {{ form.Date(class='form-control') }}
                                <div class="valid-feedback">Date field is valid!</div>
                                <div class="invalid-feedback">Date field cannot be blank!</div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">Go Back</label>
                                <a href="{{ url_for('home_page') }}">Click here</a>

                            </div>

                            <div class="form-button mt-3">
                                {{ form.submit(class='btn btn-lg btn-block btn-primary') }}
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background: url('https://res.cloudinary.com/dugry0jta/image/upload/place_v5hknr.jpg') center center/cover;
    overflow: hidden;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
</style>
{% endblock %}